@use 'hero';
@use 'components/infos_bar';
@use 'components/button';
@use 'components/event';
@use 'variables';
*{
    padding: 0; 
    margin: 0;
    box-sizing: 0; 
    font-family: roboto,sans-serif;
    color:variables.$textColor;
    list-style: none;
}
 .container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;//centraliza o conteúdo
    @media(max-width:640px){
        max-width: 80%;
    }
    @media(max-width:1024px){
        max-width: 90%;
    }
 }
 body{
    background-image: radial-gradient(variables.$yellow, variables.$blue1);
 }